:root {
    --primary: #25DAC5;
    --secondary: #482BE7;
    --third: #E93A7D;

    --grey: #EBEAED;
    --heading: #1E0E62;
  
    --background: #2F1893;
    --background-light: #FFF;

    --text: rgba(21, 20, 57, 0.40);
    --white: #FFFFFF;
    --socials: #1DA1F2;

    --font-dm-sans: 'DM Sans', sans-serif;
  }