@use "@styles/typography" as *;
@use "@styles/breakpoints" as *;

.wrapper {
  @include text-button;
  
  & {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &.primary {
    background-color: var(--third);
    color: var(--white);

    &:hover {
      background-color: #d92b6b; 
    }
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--white);

    &:hover {
      background-color: #3a22cc;
    }
  }

  &.social {
    background-color: var(--socials);
    color: var(--white);

    &:hover {
      background-color: #0d8edb; 
    }
  }

  &.outlined {
    background-color: transparent;
    color: var(--pricing-heading);
    border: 2px solid var(--grey);
    padding: 0.75rem 2.3rem ;

    &:hover {
      background-color: var(--grey);
    }
  }

  &.highlight {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    padding: 0.75rem 2.3rem ;

    &:hover {
      background-color: #1fc0ad;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
